## Create multiple features with certain rules of naming

In [47]:
import pandas as pd
df = pd.DataFrame(data = [[0,'LeetCode',3],[1,'BeiFang', 2]], columns = ['ID', 'Team', 'Point'])
df

   ID      Team  Point
0   0  LeetCode      3
1   1   BeiFang      2

In [48]:
for i in range(10):
    df[f'{i}_match'] = i
df

,ID,Team,Point,0_match,1_match,2_match,3_match,4_match,5_match,6_match,7_match,8_match,9_match
0,0,LeetCode,3,0,1,2,3,4,5,6,7,8,9
1,1,BeiFang,2,0,1,2,3,4,5,6,7,8,9

## Traverse all methods under a Class with re.findall

In [44]:
class Solution():
    def __init__(self, val):
        self.val = val
    def alpha001(self):
        print(self.val)
    def alpha002(self):
        print(self.val*2)
    def alpha003(self):
        print(self.val*3)

In [46]:
import re
stock = Solution(10)
for name, v in vars(Solution).items():
    if re.findall("^alpha*",name):
        ## if the function name meet our requirements
        df[f"{name}"] = v(stock)

10
20
30

In [49]:
for name, v in vars(Solution).items():
    if re.findall("^alpha*",name):
        print(f"{name} ==> {v}")

alpha001 ==> <function Solution.alpha001 at 0x00000236A9393288>
alpha002 ==> <function Solution.alpha002 at 0x00000236A9393318>
alpha003 ==> <function Solution.alpha003 at 0x00000236A93933A8>